<%= form_for(@item_price) do |f| %>
  <% if @item_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_price.errors.count, "error") %> prohibited this item price from being saved:</h2>
      <ul>
      <% @item_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= f.label :item_id, class: "col-2 col-form-label" %>
    <div class="col-10">
    <%= f.select :item_id, get_item_options, prompt: "Select ...", class: "form-control" %>
    </div>
  </div>
    <div class="form-group row">
    <%= f.label :price, class: "col-2 col-form-label" %>
    <div class="col-10">
    <%= f.number_field :price, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :start_date, class: "col-2 col-form-label" %>
    <div class="col-10">
    <%= f.date_select :start_date, order: [:month, :day, :year], start_year: 1.year.ago.year, end_year: Date.current.year, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.submit "Create Item price", class: "btn btn-primary form-control"%>
  </div>
<% end %>