<% content_for :pgSpecificNavLink do %>
  <%= link_to "Prices", item_prices_path, class: "navbar-brand" %>
<% end %>

<% content_for :pgSpecificButtons do %>
<button class="btn btn-primary my-2 my-sm-0 bg_blue_main search" type="submit">Search</button>
<button class="btn btn-primary my-2 my-sm-0 bg_blue_dark entries" type="submit">Entries</button>
<button class="btn btn-success my-2 my-sm-0" type="submit"><%= link_to "Create Item Price", new_item_price_path, class: "white_text" %></button>
<% end %>

<h4>Current Item Prices</h4>
<br>
<% if not @active_items.empty? %>
  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <th>Item</th>
      <th>Price</th>
      <th>Start Date</th>
    </thead>
    <% for item in @active_items %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <% if item.current_price.nil? %>
        <td>N/A</td>
        <td></td>
        <td></td>
        <% else %>
        <td><%= number_to_currency(item.current_price) %></td>
        <td><%= item.current_price_object.start_date %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
   N/A
<% end %>